$body: #FFFFFF;
$primary-0: #FDC70F;
$primary-1: #E39D0E;

$blue-0: #0A1631;
$blue-1: #0F214A;
$blue-2: #050A17;
$blue-3: #192a3e;

$black-0: #2A2A2A;
$black-1: #424242;
$black-2: #0F0F0F;

$alert-danger-0: #EC2F23;
$alert-danger-1: #D40D00;
$alert-danger-ligth: #FFECEB;
$alert-warning: #ECD823;
$alert-warning-ligth: #FFFDEB;
$alert-info: #1F4496;
$alert-info-ligth: #EBF1FF;
$alert-success: #78B82A;
$alert-success-ligth: #F6FFEB;

$icon-bg-orange: #EC6623;
$icon-bg-green: #78B82A;
$icon-bg-blue: #1F4496;
$icon-bg-grey: #B4B7BA;
$icon-bg-yellow: #FDC70F;

$while: #FFFFFF;
$while-1: #FFFAF8;
$while-2: #F2EDEB;
$while-3: #F2E4DF;


$gray: #9C9EA1;
$gray-1: #B4B7BA;
$gray-2: #838587;
